@page "/"
@using Appointment.API.Protos
@using Google.Protobuf.WellKnownTypes
@inject AppointmentBookingApi.AppointmentBookingApiClient client
<PageTitle>Home</PageTitle>

<section id="apoint" class="section-padding">
    @if (apointRegis == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tên bác sĩ </th>
                    <th>Tên bệnh nhân</th>
                    <th>Trạng thái</th>
                    <th>Ngày hẹn</th>
                    <th>Ngày dự kiến</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in apointRegis)
                {
                    <tr>
                        <td>@forecast.NameDoctor</td>
                        <td>@forecast.NamePation</td>
                        <td>@forecast.Status</td>
                        <td>@forecast.SelectedDate</td>
                        <td>@forecast.OptionDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>
@code{
    private IList<ListAppointRegisted> apointRegis;

    protected override async Task OnInitializedAsync()
    {
        var req = new SetAppointResponse();
        req.Response = 1;

        apointRegis = (await client.GetListAppointRegistedAsync(req)).ListAppointRegisRe;
    }
}